.contSignCard {
  margin: 20px 0;
}
.signInCard {
  margin: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signInCard > p {
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  font-size: 1.1rem;
  color: #004059;
}
.cardLink {
  color: var(--orange);
  font-weight: bold;
}
.signInButtonCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.signInButtonCont button:first-child {
  margin-right: 20px;
}
.signButton,
.logButton {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.8rem;
  box-sizing: border-box;
}
.signButton {
  background: #00171f;
  color: white;
  border: 1px solid var(--orange);
}
.signButton:hover,
.logButton:hover {
  cursor: pointer;
}
.signButton:hover {
  background: #f95f0b;
}
.logButton {
  background: #00b7fb;
  border: 1px solid #1381ab;
}
.logButton:hover {
  background: #004059;
  color: white;
}

@media (max-width: 700px) {
  .signInCard {
    margin: 0;
    padding: 20px;
  }
}
