#blogPostPage h1,
#blogPostPage h2 {
  font-family: "Sedgwick Ave", cursive;
}
.postHero {
  margin: 96px 0 0 0;
  min-height: calc(100vh - 85px);
  position: relative;

  /*background-color: rgba(125, 127, 50, 0.5);*/
}
.postHeroBack {
  margin-top: -4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-repeat: round;
}
.blogPostTitle {
  margin-top: -4px;
  padding: 0 5vw 5vh 5vw;
}
.blogPostTitleBackCont {
  position: relative;
  height: 50vh;
}
.blogPostTitleBack,
.postHeroBack {
  background-size: cover;
}
.blogPostTitleBack {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
}
.blogPostTitleText {
  min-height: 15vh;
  background-color: #004059;
  color: white;
}
.blogPostTitleText h1 {
  font-size: calc(1rem * 1.8);
  color: white;
  padding: 3vh 2.5vw;
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.5vh;
}

.blogPostSummary {
  padding: 12vh 0 0 0;
  width: 18.8vw;
}

.summaryTextBlogPost {
  font-size: 0.7rem;
  padding: 0 20px;
  margin: 0;
}
.summaryTextBlogPost > p {
  margin-top: 0;
}
.summaryTextScroll > div:nth-child(2) {
  height: 25vh !important;
}

.blogPostTitle img {
  max-width: 100%;
  height: 60vh;
}
.blogArticleContainer {
  margin-top: 100px;
}
.blogArticle {
  padding: 20px 50px 20px 133px;
}
.blogArticle h1,
.blogArticle h2 {
  color: #f95f0b;
  color: var(--orange);
}
.blogArticle h2,
aside h2 {
  font-size: 1.8rem;
}
.blogArticle figure img,
.blogArticle img {
  width: 100%;
}

.blogArticle figure figcaption {
  text-align: center;
  font-size: 0.7rem;
  color: var(--blueDark);
}
.blogArticle p {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  color: black;

  /*	font-size: 1rem;
	line-height: 1.6rem;*/
}

.blogArticle a {
  color: #2e9ac2;
}

.blogArticle blockquote {
  border-left: 8px solid rgba(255, 127, 80, 0.580392);
}
.blogArticle blockquote p {
  margin-left: 15px;
}
.blogArticle > code,
.blogArticle p > code,
.blogArticle pre > code {
  line-height: 2;
  border: 1px solid coral;
  background: #ff7f507a;
  padding: 5px 10px;
  font-family: monospace;
  border-radius: 4px;
}

.blogArticle code {
  white-space: normal;
}

.blogArticle hr {
  border-top: 3px solid rgba(255, 127, 80, 0.5);
  margin-top: 1rem;
}

.googleAdBanner {
  margin-top: 2vh;
  display: flex;
  height: 26vh;
  justify-content: center;
  align-items: center;
  background-color: #00405930;
}
.googleAdVertical {
  margin-top: 2vh;
  display: flex;
  height: 26vh;
  justify-content: center;
  align-items: center;
  background-color: #00405930;
  padding: 0 34px;
  height: 1000px;
}

#name {
  color: var(--orange);
  font-weight: bold;
}

@media (max-width: 1050px) {
  .blogArticleContainer {
    margin-top: 134px;
  }
  .postHero {
    margin: 110px 0 0 0;
  }

  .blogPostTitleText h1 {
    letter-spacing: 5.9px;
    line-height: 2.6rem;
    font-size: 2.1rem;
    padding: 3vh 5vw;
  }
  .blogPostTitle {
    padding: 5vh 0;
  }
  .blogPostSummary {
    width: 100%;
  }
  .blogPostSummary h3 {
    font-size: 1.4rem;
  }
  .summaryTextScroll > div:nth-child(2) {
    height: auto !important;
  }
  .summaryTextBlogPost {
    font-size: calc(1.3rem * 0.8);
    margin: 0;
  }
  .summaryTextScroll {
    border-radius: 0px !important;
  }
  .blogArticle {
    padding-left: 50px;
  }
  .blogArticle p {
    font-size: 1.3rem;
  }
}

@media (max-width: 700px) {
  .blogArticleContainer {
    margin-top: 28vw;
  }
  .postHero {
    margin-top: 82.5px;
  }
  .postHeroBack {
    display: none;
  }
  .blogPostTitle {
    padding: 0px;
    margin-top: -14.3px;
  }
  .blogPostTitleText {
    height: auto;
  }
  .blogPostTitleText h1 {
    letter-spacing: 3.7px;
    line-height: 1.7rem;
    font-size: calc(1.7rem * 0.8);
    margin: 0;
    padding: 10px 5vw;
  }
  .blogPostSummary {
    padding: 0;
  }
  .blogPostSummary h3 {
    font-size: calc(1.7rem * 0.6);
  }
  .summaryTextBlogPost {
    font-size: 0.8rem;
  }
  .googleAdBanner {
    margin-top: 0;
  }
  .blogArticle {
    padding: 12px 14px;
  }
  .blogArticle h2 {
    padding: 15px 0 0 0;
  }
  .blogArticle p {
    font-size: 1.1rem;
    margin: 15px 0;
  }
  .blogArticle figure {
    margin: 0;
  }
  .blogArticle blockquote {
    margin: 0 0 0 10px;
  }
}
