.modalLayout {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.637);
  width: 100vw;
  height: 100vh;
  z-index: 6;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalLayout button {
  cursor: pointer;
}

.modalDialog {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;

  padding: 30px 20px;

  box-sizing: border-box;
  border-radius: 8px;
  min-width: 20vw;
}
.modalHeader {
  display: flex;
  flex-direction: column;
}

.modalHeader h3 {
  background: #00171f;
  border-radius: 8px;
  letter-spacing: 2px;
  text-align: center;
  color: coral;
  padding: 15px 15px;
}

.modalTitle {
  background: #00171f;
  border-radius: 4px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffcb2f;
  padding: 8px 0;
  text-align: center;
}
.modalCancelBtn {
  color: #00171f;
  position: absolute;

  top: 7px;
  right: 9px;

  background-color: transparent;
  border: none;
}
.modalCancelBtn span {
  font-size: 17px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}

.modalBody {
  margin: 0;
  padding: 20px 10px;
}
.modalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalFooter button {
  min-height: 30px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  box-sizing: border-box;
  background: #00171f;
  border: 1px solid #00b7fb;
  color: #fff;
  min-width: 100px;
  padding: 10px 25px;
}
.modalFooter button:first-child {
  margin-right: 35px;
}

@media (max-width: 1050px) {
  .modalDialog {
    max-width: 50vw;
  }
}

@media (max-width: 700px) {
  .modalDialog {
    max-width: 100vw;
  }
}
