{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "syntax-dynamic-import"
  ],

  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-react"
  ]
}
