/* .postCompCont {
   overflow: hidden;
  position: relative; 
} */
.postCompImg {
  height: 68%;
  background-size: cover;
}
.postCompInnerTitle {
  /* animacion  */
  /* height: 100%; */
  /* transform: translateY(-68%); */
  position: relative;
  box-sizing: border-box;
  background-color: #024259;
  width: 100%;
  transition: all 500ms cubic-bezier(0.75, -0.6, 0.35, 1.65);
  /* transform: translateY(0); */
  /* overflow: hidden; */
}
.postCompInnerTitle > h2 {
  margin: 0;
  font-weight: normal;
  /* color: white !important; */
  /* height: calc(100% - 44px); */
  overflow: hidden;
}

.threeDotsCont {
  bottom: 10px;
  position: absolute;

  right: 10px;
}
.threeDotsCont button {
  /* width: 15%; */
  border: none;
  background-color: transparent;
  padding: 0;
}
.threeDotsCont button img {
  width: 100%;
  transition: all ease 500ms;
  width: 47px;
  transform-origin: center center;
}
.threeDotsCont button img:hover {
  cursor: pointer;
}
