.reactTableLay {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tableColumnElement {
  text-align: center;
}
.tableNameElement:hover {
  cursor: pointer;
  font-weight: bold;
}
.tableControlBtnLay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableControlBtn {
  width: 25px;
}
.tableControlBtn:hover {
  cursor: pointer;
}
.tableControlBtnAction {
  padding: 0 10px;
}

@media (max-width: 1050px) {
  .reactTableLay {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
