.redesSociales:hover {
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 50%;
  bottom: 3%;
  animation-delay: 3.5s;
  transform: translateX(-50%);
}

.footer svg {
  margin-right: 15px;
  float: left;
  fill: #f95f0b;
  height: 25px;
}

.footer svg:hover {
  fill: #f95f0b;
  fill: var(--orange);
}

.footer svg:hover path {
  stroke: none;
}

@media (max-width: 1050px) /*and (orientation: portrait) */ {
  .footer {
    position: fixed;
    left: 50%;
    bottom: 5%;
    width: fit-content;
    transform: translateX(calc(-50% + 16px));
  }
}
/**/
