.elementEditionLayoutPreview,
.elementEditionLayout {
  background-color: #e1e8ea;
  border-radius: 15px;
  padding: 20px;
  margin: 10px 0;
  display: grid;
  grid-template-areas: " element element element editionBtn" "editionLayout editionLayout editionLayout .";
  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr)) 5vw;
  grid-row-gap: 2vh;
}
.elementEditionLayoutPreview:hover {
  background-color: #ffffff;
}
.elementSelect {
  grid-area: element;
}
.elementSelect span {
  color: var(--bluedark);
  font-weight: bold;
  font-size: 24px;
}
.elementSelect select {
  background-color: transparent;
  font-size: calc(24px * 0.6);
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 10px;
}
.elementSelectLayout {
  display: flex;
  align-items: center;
}
.elementPreview {
  grid-area: preview;
  width: 100%;
}

.elementPreview * {
  padding: 0;
  margin: 0;
  user-select: none;
}
.elementSubEditionLayout {
  grid-area: editionLayout;
  display: grid;
  grid-template-areas: "preview preview preview " "contenido contenido contenido " "atributes classes styles ";

  grid-template-rows: auto auto;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 1vh;
}
.elementContent textarea,
.elementPreview {
  padding: 20px 20px !important;
  margin: 10px 0;
  box-sizing: border-box;
}
.elementContent {
  grid-area: contenido;
}
.elementContent textarea {
  border-radius: 15px;
  width: 100%;
  height: 20vh;
  padding: 20px;
}
.elementContentLayout {
  display: grid;
  grid-template-areas: "entrada entrada entrada" "styles classes atributes  ";
}
.elementContentLayout input {
  border-radius: 5px;
  border: 1px solid rgba(169, 169, 169, 1);
}
.elementInput {
  grid-area: entrada;
}
.elementAtributes {
  grid-area: atributes;
}
.elementStyles {
  grid-area: styles;
}
.elementClasses {
  grid-area: classes;
}
.elementEditionBtn {
  grid-area: editionBtn;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.elementEditionBtn div {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}
.elementEditionBtn img {
  width: 21px;
  margin-bottom: 7px;
}
