.commentLayoutCont {
  padding: 50px;
  position: relative;
}

.commentCont {
  position: relative;
  height: 292px;
  border-radius: 30px 0 30px 0;
  background: linear-gradient(90deg, #0087b9 0.01%, #192327 66.34%);
  padding: 10px;
  margin-left: 20px;
}
.commentCont > svg {
  bottom: -8px;
  position: absolute;
  left: -17px;
  width: 50px;
}
.commentCont span {
  color: white;
}
.commentCont textarea {
  height: 268px;
  resize: none;
  border-radius: 120px 0 60px 0;
  width: 100%;
  font-size: inherit;
  padding: 40px 20px 20px 40px;
  box-sizing: border-box;
}
.commentCont textarea:focus {
  outline: none;
}

.postItCont {
  float: right;
  padding-top: 20px;
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.postItCont span {
  margin: 0 15px 0 0;
  font-weight: bold;
  color: var(--orange);
}
.postItCont svg {
  display: inline;
  width: 20px;
}
.postItCont svg:hover {
  cursor: pointer;
}

.avatarCont {
  padding: 0 0 0 20px;
  clear: both;
}
