.readOnlySeoEditor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.readOnlySeoEditor label {
  display: flex;
  flex-direction: column;
}
.readOnlySeoEditor textarea {
  padding: 10px 15px;
  border-radius: 10px;
}
.readOnlySeoEditor h6 {
  font-size: 16px;
}
.tagList {
  display: flex;
  flex-wrap: wrap;
  font-size: calc(16px * 0.6);
  align-items: center;
  margin: 20px 0 20px 0;
}

.tagList input {
  margin: 0 0 0 15px;
}
@media (max-width: 700px) {
  .readOnlySeoEditor {
    flex-flow: wrap;
  }
  .readOnlySeoEditor h6 {
    width: 100%;
    text-align: center;
  }
  .tagList {
    width: 80%;
    margin: 0 0 20px 0;
  }
  .tagList div {
    margin-top: 5px;
    width: 50%;
  }
}
