.readOnlySeoEditor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.readOnlySeoEditor label {
  display: flex;
  flex-direction: column;
}
.readOnlySeoEditor textarea {
  padding: 10px 15px;
  border-radius: 10px;
}
.tagList {
  display: flex;
  font-size: calc(16px * 0.6);
  align-items: center;
}
.tagList h6 {
  font-size: 16px;
}
.tagList input {
  margin: 0 0 0 15px;
}
