
.appear {
	opacity: 0;
	margin-bottom: 100px;
	-webkit-animation: animFill 1s ease 1s normal forwards;
	-o-animation: animFill 1s ease 1s normal forwards;
	animation: animFill 1s ease 1s normal forwards;
}
@keyframes animFill {
	to {
		opacity: 1;
		margin-bottom: 0;
	}
}

.relleno {
	height: 1px;
}

.bordeAnim {
  -webkit-animation: animBorde 1s ease normal forwards;
  -o-animation: animBorde 1s ease normal forwards;
  animation: animBorde 1s ease normal forwards;
}
@keyframes animBorde {
  to {
    stroke-dashoffset: 0;
  }
}
.col-0-sm {
  display: block;
}
.col-0-md {
  display: block;
}
.col-0 {
  display: none;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.67%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3%;
}
.col-5 {
  width: 41.67%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.67%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: calc(8.33% * 10);
}
.col-11 {
  width: calc(8.33% * 11);
}
.col-12 {
  width: 100%;
}
.container {
  padding: 10px;
}
.grid {
  float: left;
  box-sizing: border-box;
}

.verticalCenter {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
}
.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fila {
  box-sizing: border-box;
}
.fila:after {
  content: "";
  overflow: auto;
  display: block;
  clear: both;
}

@media (max-width: 1050px) {
  .col-0 {
    display: block;
  }
  .col-0-sm {
    display: block;
  }
  .col-0-md {
    display: none;
  }
  .col-1-md {
    width: calc(8.33% * 1);
  }
  .col-2-md {
    width: calc(8.33% * 2);
  }
  .col-3-md {
    width: calc(8.33% * 3);
  }
  .col-4-md {
    width: 33.3%;
  }
  .col-5-md {
    width: 41.67%;
  }
  .col-6-md {
    width: 50%;
  }
  .col-8-md {
    width: calc(8.33% * 8);
  }
  .col-10-md {
    width: calc(8.33% * 10);
  }
  .col-12-md {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .col-0 {
    display: block;
  }
  .col-0-md {
    display: block;
  }
  .col-0-sm {
    display: none;
  }
  .col-1-sm {
    width: 8.33%;
  }
  .col-2-sm {
    width: 16.67%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-4-sm {
    width: 33.3%;
  }
  .col-5-sm {
    width: 41.67%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-7-sm {
    width: calc(8.33% * 7);
  }
  .col-8-sm {
    width: calc(8.33% * 8);
  }
  .col-12-sm {
    width: 100%;
  }
  .col-0-sm {
    display: none;
  }
}
/*############################################333*/
/*###############simpleBar###################333*/
/*############################################333*/

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
.simplebar-content {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  visibility: visible;
  overflow: scroll;
  max-width: 100%;
  max-height: 100%;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: inherit;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition: opacity 0s linear;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}
.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

/*############################################333*/
/*###############FLUID FONT###################333*/
/*############################################333*/

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

h1 {
  font-size: 2.0736rem;
}
h1 {
  font-size: 27.648px;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(27.648px + 26.352 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 54px;
  }
}

h2 {
  font-size: 1.728rem;
}
h2 {
  font-size: 27.648px;
}
@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(27.648px + 26.352 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 54px;
  }
}

h3 {
  font-size: 1.44rem;
}
h3 {
  font-size: 23.04px;
}
@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(23.04px + 12.96 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 36px;
  }
}

/*############################################333*/
:root {
  --orange: #f95f0b;
  --blueDark: #00171f;
  --blueLigth: #2e9ac2;
  --grayLight: #f1f1f1;
  --white: #ffffff;
  --grayDark: #b0b0b0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #ffffff;
  background-color: var(--white);
  z-index: -1;
}
button:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Work Sans";
  font-family: "Sedgwick Ave", cursive;
}
#svg857 {
  /*	width: 90px;*/
  float: left;
}

@media (max-width: 1050px) /*and (orientation: portrait) */ {
  /* #svg857 {
		/*width: 120px;
		margin-right: 0;
	} */
}

@media (max-width: 700px) /* and (orientation: portrait) */ {
  /* #svg857 {
		/*width: 90px;
		margin-right: 0;
	} */
}
.redesSociales:hover {
	cursor: pointer;
}

.footer {
	position: fixed;
	right: 15%;
	bottom: 5%;
	animation-delay: 3.5s;
}

.footer svg {
	margin-right: 15px;
	float: left;
	fill: #00171f;
	fill: var(--blueDark);
	height: 32px;
}

.footer svg:hover {
	fill: #f95f0b;
	fill: var(--orange);
}

.footer svg:hover path {
	stroke: none;
}
.footer path {
	stroke: #f95f0b;
	stroke: var(--orange);
	stroke-width: 2px;
}

@media (max-width: 1050px) /*and (orientation: portrait) */ {
	.footer {
		position: fixed;
		left: 50%;
		bottom: 5%;
		width: fit-content;
		transform: translateX(calc(-50% + 16px));
	}
}
/**/
#titulo h1 {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.2rem;
  color: #004059;
  color: var(--blueDark);
  margin: 10px 0 0 20px;
}

#titulo {
  float: left;
}

@media (max-width: 1050px) /*and (orientation: portrait) */ {
  #titulo h1 {
    display: none;
  }
}
@media (max-width: 700px) /* and (orientation: portrait) */ {
  #titulo h1 {
    display: none;
  }
}

.enlace {
  margin-right: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 0.5rem;
  letter-spacing: 0.15em;
  color: #004059;
  color: var(--blueDark);
  text-decoration: none;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.75, -0.6, 0.35, 1.65);
}
.enlace:hover {
  letter-spacing: 0.3em;
  font-size: 0.55rem;
  color: #f95f0b;
  color: var(--orange);
}
.relleno {
  height: 1px;
}

.horizontalCenter {
  margin-top: 2%;
}

.activeLink {
  font-weight: bold;
  color: #f95f0b !important;
  color: var(--orange) !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 14px;
}
.flyingLink {
  text-decoration: none;
  color: white;
}

/*##################################33*/
/*##################################33*/
/*##################################33*/
/*##################################33*/

#navBar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateZ(180deg);
  transform-origin: right;
  -webkit-animation: navbarRotate 2s ease 1s normal forwards;
  -o-animation: navbarRotate 2s ease 1s normal forwards;
  animation: navbarRotate 2s ease 1s normal forwards;
}
@keyframes navbarRotate {
  to {
    transform: rotateZ(0);
  }
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0 10px 0;
}
#active-line {
  /*	margin-left: -8px;*/
  width: 75px;
  transition: all 0.5s cubic-bezier(0.75, -0.6, 0.35, 1.65);
}
#menu a:hover #active-line {
  width: 40px;
  transform: translateX(-8px);
}

#menu-pc {
  margin-top: 20px;
  transition: all 1s cubic-bezier(0.75, -0.6, 0.35, 1.65);
}
.fondoMenuPc {
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: -1;
}
.logoTransition > svg {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#menu-small {
  display: none;
}
#menu-smallest {
  display: none;
}
#menu-desplegable {
  position: fixed;
  top: 0;
  left: 0;
  /* background: linear-gradient(131.23deg, #0088ba -12.06%, #004059 107.73%); */
  background: linear-gradient(180deg, #001e29 82.94%, #0088ba 87.73%);
  width: 100%;
  height: 100vh;
  z-index: 2;
  transition: transform 1s ease;
  transform: translateX(100%);
  visibility: hidden;
  -webkit-animation: visibleNow 1s ease 3s forwards;
  -o-animation: visibleNow 1s ease 3s forwards;
  animation: visibleNow 1s ease 3s forwards;
}

@keyframes visibleNow {
  to {
    visibility: visible;
  }
}

#menu-desplegable ul li:first-child {
  margin-top: 0;
}

.desplegable-footer {
  clear: both;
}

.desplegable-footer-size {
  width: 10vw;
}

@media (max-width: 1050px) /*and (orientation: portrait) */ {
  #menu-desplegable li {
    margin-top: 3rem;
    list-style: none;
    font-size: 2rem;
  }

  .desplegable-logo {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fila-menu {
    margin-bottom: 5vh;
  }
  .desplegable-equis {
    float: right;
    padding: 20px;
  }
  .desplegable-equis svg {
    width: 64px;
    height: 64px;
  }
  .desplegable-title {
    clear: both;
    margin: 0;
    text-align: center;
    color: white;
    /* font-family: Work Sans; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 4rem;
    letter-spacing: 0.08em;
    color: #ebf0f2;
  }
  .desplegable-footer {
    padding: 20px;
  }
  .desplegable-footer a {
    margin-right: 100px;
  }
  .desplegable-footer a:last-child {
    margin-right: 0;
  }

  #menu-small {
    display: block;
    position: relative;
  }

  #menu-small span {
    position: fixed;
    right: 2%;
    top: 10px;
    transform: translateY(50%);
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 1.5rem;
    letter-spacing: 0.15em;
  }
  .menuSmallBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 14.1vw;
    background-color: white;
  }

  #menu-pc {
    display: none;
  }
  #menu-smallest {
    display: none;
  }
}

@media (max-width: 700px) /* and (orientation: portrait) */ {
  .desplegable-title {
    margin: 0 0 2vh 0;
    font-size: 7vh;
    letter-spacing: 0.08em;
  }
  #menu-desplegable li {
    margin-top: 2vh;
    font-size: 5vh;
  }
  .desplegable-equis {
    padding: 3vh 3vh 0 0;
  }
  .desplegable-equis svg {
    width: 32px;
    height: 32px;
  }
  .desplegable-logo {
    height: 20vh;
    margin: 10px 0 10px 0;
  }
  .desplegable-footer a {
    margin-right: 20px;
  }

  .fila-menu {
    margin-bottom: 0;
  }
  .fila-menu ul {
    margin: 0;
  }
  #menu-pc {
    display: none;
  }
  #menu-small {
    display: none;
  }
  #menu-smallest {
    display: block;
  }
  #hamburger {
    position: fixed;
    right: 0;
    margin-top: 2vh;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
  }
}
.appear {
  opacity: 0;
  margin-bottom: 100px;
  -webkit-animation: animFill 1s ease 1s normal forwards;
  -o-animation: animFill 1s ease 1s normal forwards;
  animation: animFill 1s ease 1s normal forwards;
}
@keyframes animFill {
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

/* Fondos*/
#contenedorFondo,
#imgFondo,
.fondoMdSm {
  height: 100vh;
}
#contenedorFondo {
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgFondo {
  display: block;
  margin-top: 15px;
}
#path {
  animation-delay: 1s;
  fill: url(#img1);
}
#path2 {
  fill: none;
  stroke-dasharray: 4288.38916015625;
  stroke-dashoffset: 4288.38916015625;
  stroke: #f95f0b;
  stroke: var(--orange);
  stroke-width: 2px;
}

#imgFondoMd,
#imgFondoSm {
  display: none;
}

.fondoMdSm {
  position: fixed;
  left: 0;
  top: 0;
}
.orangeStroke {
  stroke: #f95f0b;
  stroke: var(--orange);
  stroke-width: 2px;
}

.home-hero {
  clear: left;
  color: #ffffff;
  color: var(--white);
  -webkit-animation: bounce 2s cubic-bezier(1, 0, 0.445, 1.435) 1s normal
    forwards;
  -o-animation: bounce 2s cubic-bezier(1, 0, 0.445, 1.435) 1s normal forwards;
  animation: bounce 2s cubic-bezier(1, 0, 0.445, 1.435) 1s normal forwards;
  transform: translate(-50%, -500%);
}
@keyframes bounce {
  from {
    transform: translate(-50%, -500%);
  }
  to {
    transform: translate(-50%, -50%);
  }
  /*66.6% {transform: translate(-50%,-70%);}
	100% {transform: translate(-50%,-50%);}*/
}

.home-hero h1 span {
  visibility: hidden;
}

.home-hero h2 {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 6vh;
  text-align: right;
  margin-right: 18px;
}

.home-hero * {
  margin: 0;
}
#tarjetaAnimada {
  position: absolute;
  background: #ffffff;
  background: var(--white);
  width: 200%;
  height: calc(100% + 10px);
  -webkit-animation: bounceCont 1s cubic-bezier(0.87, -0.19, 0.975, 0.67) 3s
    normal forwards;
  -o-animation: bounceCont 1s cubic-bezier(0.87, -0.19, 0.975, 0.67) 3s normal
    forwards;
  animation: bounceCont 1s cubic-bezier(0.87, -0.19, 0.975, 0.67) 3s normal
    forwards;
}
@keyframes bounceCont {
  to {
    transform: translate(-50%, 500%);
  }
}

.call2Action-home {
  animation-delay: 3.5s;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.redesSociales-home {
  width: 32px;
}
@media (max-width: 1050px) /*and (orientation: portrait) */ {
  #imgFondo,
  #imgFondoSm {
    display: none;
  }
  #imgFondoMd {
    display: block;
  }

  #imgFondoMd svg {
    position: fixed;
  }

  #imgFondoMd path {
    fill: white;
  }

  #imgFondoMd svg:nth-child(2) {
    top: 0;
  }
  #imgFondoMd svg:nth-child(3) {
    bottom: 0;
  }
  #imgFondoMd svg:nth-child(2) path {
    stroke-dasharray: 1760.89697265625;
    stroke-dashoffset: 1760.89697265625;
  }
  #imgFondoMd svg:nth-child(3) path {
    stroke-dasharray: 1648.5621337890625;
    stroke-dashoffset: 1648.5621337890625;
  }
  .home-hero {
    top: 45%;
    width: 90%;
  }

  .home-hero h1 {
    font-size: 5rem;
  }
  .home-hero h2 {
    font-size: 2.3rem;
    margin-right: 18px;
    margin-top: 40px;
    font-weight: 400;
  }
  .call2Action-home {
    bottom: 20%;
  }
  .redesSociales-home {
    width: 5vw;
  }
}

@media (max-width: 700px) /* and (orientation: portrait) */ {
  #imgFondo,
  #imgFondoMd {
    display: none;
  }

  #imgFondoSm {
    display: block;
  }
  #imgFondoSm {
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  #imgFondoSm svg {
    position: fixed;
  }

  #imgFondoSm svg:nth-child(even) {
    top: 0;
  }
  #imgFondoSm svg:nth-child(odd) {
    width: 40%;
    bottom: 0;
  }
  #imgFondoSm svg:nth-child(2) path {
    stroke-dasharray: 1242.18212890625;
    stroke-dashoffset: 1242.18212890625;
  }

  #imgFondoSm svg:nth-child(3) path {
    stroke-dasharray: 684.4244384765625;
    stroke-dashoffset: 684.4244384765625;
  }

  #imgFondoSm path {
    fill: white;
  }

  .home-hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  .home-hero h2 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin: 10px 0 20px 0;
  }
  .call2Action-home {
    bottom: 20%;
  }
  .redesSociales-home {
    fill: #f95f0b !important;
    width: 10vw;
  }

  .redesSociales-home path {
    stroke: none !important;
  }
}
.call2Action {
	background: #00171f;
	background: var(--blueDark);
	border: 2px solid #f95f0b;
	border: 2px solid var(--orange);
	box-sizing: border-box;
	font-style: normal;
	font-weight: bold;
	line-height: normal;

	font-size: 0.6rem;
	width: 120px;
	height: 40px;
	border-radius: 10px;
}

.call2Action:hover {
	cursor: pointer;
	background: #f95f0b;
	background: var(--orange);
}

.call2Action {
	text-decoration: none;
	color: #ffffff;
	color: var(--white);
	padding: 8px 6px;
}

@media (max-width: 1050px) /*and (orientation: portrait) */ {
	.call2Action {
		font-size: 2.3vh;
		border-radius: 2vmin;
		width: 16vh;
		height: 6vh;
	}
}
@media (max-width: 700px) {
	.call2Action {
		font-size: 1rem;
		border-radius: 15px;
		width: 130px;
		height: 45px;
	}
}
.swordVoice {
  width: 100%;
}

#S {
  stroke-dashoffset: 435.91497802734375;
  stroke-dasharray: 435.91497802734375;
  stroke: white;
  stroke-width: 40px;
}
@keyframes animS {
  to {
    stroke-dashoffset: 0;
  }
}

#w {
  stroke-dashoffset: 637.7830810546875;
  stroke-dasharray: 637.7830810546875;
  stroke: white;
  stroke-width: 22px;
}

@keyframes animW {
  to {
    stroke-dashoffset: 0;
  }
}

#o1,
#o2 {
  stroke-dashoffset: 324.7279968261719;
  stroke-dasharray: 324.7279968261719;
  stroke: white;
  stroke-width: 22px;
}

@keyframes animO {
  to {
    stroke-dashoffset: 0;
  }
}

#r > path:nth-child(1) {
  stroke-dashoffset: 170.7401885986328;
  stroke-dasharray: 170.7401885986328;
  stroke: white;
  stroke-width: 22px;
}

@keyframes animR1 {
  to {
    stroke-dashoffset: 0;
  }
}

#r > path:nth-child(2) {
  stroke-dashoffset: 205;
  stroke-dasharray: 200;
  stroke: white;
  stroke-width: 22px;
  /* animation: animR2 0.1s linear forwards 3.7s; */
}

@keyframes animR2 {
  to {
    stroke-dashoffset: 0;
  }
}

#d > path:nth-child(1) {
  stroke-dashoffset: 214.1115264892578;
  stroke-dasharray: 214.1115264892578;
  stroke: white;
  stroke-width: 22px;
  /* animation: animD1 0.1s linear forwards 3.8s; */
}

@keyframes animD1 {
  to {
    stroke-dashoffset: 0;
  }
}

#d > path:nth-child(2) {
  stroke-dashoffset: 232.3880615234375;
  stroke-dasharray: 232.3880615234375;
  stroke: white;
  stroke-width: 22px;
  /* animation: animD2 0.1s linear forwards 3.9s; */
}

@keyframes animD2 {
  to {
    stroke-dashoffset: 0;
  }
}

#V {
  stroke-dashoffset: 375.0325927734375;
  stroke-dasharray: 375.0325927734375;
  stroke: white;
  stroke-width: 22px;
  /* animation: animV 0.2s linear forwards 4s; */
}

@keyframes animV {
  to {
    stroke-dashoffset: 0;
  }
}

/* #o2 {
  stroke-dashoffset: 324.72821044921875;
  stroke-dasharray: 324.72821044921875;
  stroke: white;
  stroke-width: 22px;
  
} */

#i {
  stroke-dashoffset: 148.06924438476562;
  stroke-dasharray: 148.06924438476562;
  stroke: white;
  stroke-width: 22px;
  /* animation: animI 0.2s linear forwards 4.4s; */
}

@keyframes animI {
  to {
    stroke-dashoffset: 0;
  }
}

#c {
  stroke-dashoffset: 310.1953125;
  stroke-dasharray: 310.1953125;
  stroke: white;
  stroke-width: 22px;
  /* animation: animC 0.2s linear forwards 4.6s; */
}

@keyframes animC {
  to {
    stroke-dashoffset: 0;
  }
}

#e line {
  stroke-dashoffset: 32.579742431640625;
  stroke-dasharray: 32.579742431640625;
  stroke: white;
  stroke-width: 14px;
  /* animation: animE1 0.05s linear forwards 4.8s; */
}

@keyframes animE1 {
  to {
    stroke-dashoffset: 0;
  }
}

#e > path:nth-child(2) {
  stroke-dashoffset: 78.72579193115234;
  stroke-dasharray: 78.72579193115234;
  stroke: white;
  stroke-width: 15px;
  /* animation: animE2 0.08s linear forwards 4.85s; */
}

@keyframes animE2 {
  to {
    stroke-dashoffset: 0;
  }
}

#e > path:nth-child(3) {
  stroke-dashoffset: 245.5;
  stroke-dasharray: 245.44171142578125;
  stroke: white;
  stroke-width: 28;
  /* animation: animE3 0.07s linear forwards 4.93s; */
}

@keyframes animE3 {
  to {
    stroke-dashoffset: 0;
  }
}

#punto {
  stroke-dashoffset: 30.805843353271484;
  stroke-dasharray: 30.805843353271484;
  stroke: white;
  stroke-width: 22px;
  /* animation: animPunto 0.02s linear forwards 5.2s; */
}

@keyframes animPunto {
  to {
    stroke-dashoffset: 0;
  }
}
.fondo-about {
  background: linear-gradient(
      249.66deg,
      rgba(0, 0, 0, 0.98) 0%,
      rgba(0, 0, 0, 0.72) 100%
    ),
    url(/923824832d1a18abcd69e247ef5d5256.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}
.texto {
  padding-left: 5%;
}

.contenedorTexto {
  padding-left: 15.4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  box-sizing: border-box;
  padding-top: 4vh;
}

.parrafo {
  height: 100%;
  color: white;
  font-style: normal;
  font-weight: normal;
}
.parrafo a {
  text-decoration: none;
  color: #00b7ff;
}
.parrafo h2 {
  letter-spacing: 3px;
  margin: 0;
  font-weight: 600;
  line-height: normal;
  font-size: 5vh;
  color: #f95f0b;
}
.parrafo p {
  margin: 0;
  line-height: 5vh;
  font-size: 3vh;
}
.PCdecoration {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
.midDecorationPC {
  /*position: fixed;
	width: 65vh;
	left: 43vw;
	top: calc(94px + 15vh);*/
  /* transform: translate(-3vw, -3vh); */
  /* scale: 1.2; */
  height: 50vh;

  margin-top: 16vh;
}
.asidePC {
  margin-top: 64vh;
}

.call2actionAside {
  transform: translateX(-5vw);
}
.asideRedes {
  margin-top: 6vh;
}

.contenedorFila-about {
  border: 2px var(--orange) solid;
  border-bottom: none;
  border-radius: 210px 210px 0 0;
  height: calc(100vh - 94px);
  margin-top: 94px;
  background: linear-gradient(
      249.66deg,
      rgba(0, 0, 0, 0.88) 0%,
      rgba(0, 0, 0, 0.72) 100%
    ),
    url(/923824832d1a18abcd69e247ef5d5256.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  display: block;
}
.footer-about-pcSize {
  width: 20%;
}
.footer-about-path {
  stroke: #f95f0b;
  stroke: var(--orange);
  stroke-width: 1px;
}
.footer-about-path {
  fill: #f95f0b;
  fill: var(--orange);
}
/*.call2action-med {
	display: none;
}*/
/*.footerContainer-about {
	display: none;
}*/
@media (max-width: 1050px) /*tablts */ {
  /*#topDecoration {
		display: none;
	}*/
  /*#topDecorationMed {
		display: block;
	}*/
  .contenedorFila-about {
    position: relative;
    border: none;
    height: initial;
    margin-top: 0;
    background: none;
    display: block;
  }
  .tabletDecoration {
    position: relative;
  }
  .midDecoration {
    position: absolute;
  }
  .decorationBrackets {
    width: 90%;
    margin-left: 5%;

    position: relative;
    margin-top: 55%;
  }
  .footer-about-mid {
    margin-left: 10%;
    margin-top: 5%;
  }
  .footer-about-midSize {
    width: 20%;
  }
  .tabletDecoration {
    width: 45%;
  }
  .parrafo {
    width: 55%;
  }

  .parrafo h2 {
    font-size: 3.5vh;
    margin: 0;
  }

  .parrafo p {
    font-size: 2.3vh;
    line-height: 4vh;
    margin: 0;
    padding: 10px 0 0 0;
  }
  .texto {
    padding: 0;
  }

  .contenedorTexto {
    padding: 15px 25px 0 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .call2action-med {
    display: inline;
  }
  .call2action-med a {
    color: white;
  }
  .footer-about-path {
    stroke: #f95f0b;
    stroke: var(--orange);
    stroke-width: 1px;
    fill: #010101;
  }
}

@media (max-width: 700px) /*phones */ {
  .parrafo {
    width: 100%;
  }
  .parrafo h2 {
    font-size: 10vmin;
  }

  .parrafo p {
    letter-spacing: 0;
    font-size: 6vmin;
    line-height: 5vh;
  }
  .contenedorTexto {
    margin: 0;
    padding: 0 16px;
    height: 120vh;
  }
  .texto {
    padding-left: 5%;
  }

  .footerContainer-about {
    position: relative;
    margin-top: 5vh;
  }
  .footerContainer-about svg {
    transform: translateY(11px);
    /*position: absolute;*/
  }
  .footerElements-about {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .call2action-about {
    top: 0px;
    font-size: 1rem;
    position: relative;
    z-index: 1;
  }

  .footer-about {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  /* .footer-about,
  .call2action-about {
    /*	position: absolute;

  } */
  .footer-about-size {
    width: 50%;
  }
  .call2action-med {
    display: none;
  }
  #footerback-about {
    position: absolute;
    bottom: 0;
  }

  #topDecoration {
    /*position: fixed;
	top: 0;*/
    display: block;
    z-index: 1;
  }
  #topDecorationMed {
    display: none;
  }
}
.postCompCont {
  overflow: hidden;
  position: relative;
}
.postCompImg {
  height: 100%;
  background-size: cover;
}
.postCompInnerTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  background-color: #024259;
  width: 100%;
  transition: opacity 1s ease;
  transform: translateY(0);
  overflow: hidden;
}
.postCompInnerTitle > h2 {
  margin: 0;
  font-weight: bold;
  color: white !important;
}
.categories {
  padding: 5px 20px;
}
.categories div {
  color: #024259;
  font-weight: 500;
  background-color: #b3e8ff;
  border: 1px transparent;
  border-radius: 20px;
  padding: 5px;
  font-size: 0.5rem;
  margin: 5px 5px 5px 0;
  float: left;
}
.summaryTitle {
  font-size: 20px;
  color: #024259;
  font-weight: bold;
  margin: 0;
  padding: 20px 0 6px 20px;
}
.summaryTextCont {
  font-size: 15px;
  margin: 0;
  padding: 0 20px 0 20px;
  margin-top: 20px;
  color: #024259;
}
.summaryDate {
  font-size: 15px;
  float: right;
  padding: 0 20px 0 20px;
  color: #024259;
}
.summaryAvatar {
  background-size: cover;
  height: 50px;
  width: 50px;
  border: 1px solid transparent;
  border-radius: 100%;
}
.summaryAuthor {
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width: 1050px) {
  .summaryTitle {
    font-size: calc(2rem * 0.8);
  }

  .categories div {
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
  }
  .summaryDate {
    font-size: 20px;
  }
  .summaryAvatar {
    background-size: cover;
    height: 50px;
    width: 50px;
  }
  .summaryAuthor {
    font-size: 21px;
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .summaryTitle {
    padding: 10px 0 5px 20px;
    font-size: 1rem;
  }
  .categories div {
    font-size: 0.6rem;
  }
  .summaryDate,
  .summaryAuthor {
    font-size: 0.8rem;
  }
}
.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  height: 1.8rem;
  transform: translateX(70%);
}
.searchBar input {
  border: 1px transparent solid;
  height: 42px;
  padding: 0;
  margin-left: 10px;
  font-size: 1rem;
  color: #0387b7;
  background-color: transparent;
}
.searchBar input:focus {
  outline: none;
  border: 1px transparent solid;
}

.searchBar input::placeholder {
  color: #cbe7f1;
}
.searchBar svg {
  width: 37px;
  transform: translateY(-2px);
}
.searchBar span {
  font-weight: bold;
  color: #0387b7;
  padding-right: 10px;
}
.searchBar span:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  .searchBar input {
    width: 35vh;
  }
}
.grandParentContainer {
  position: relative;
}
.parentContainer {
  position: relative;
  color: red;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.verticalScrollBarCont {
  position: absolute;
}
.verticalScrollBar {
  position: relative;
  margin: auto;
}
.verticalScrollBarBack {
  border-radius: 8px;
  margin: auto;
  height: 100%;
  /* width: 100%; */
  position: relative;

  background-color: rgba(0, 0, 0, 0.36);
}
.verticalScrollBar:hover {
  cursor: pointer;
}
.popPostContainer {
  overflow: hidden;
}
.popPostLayoutCont {
  visibility: hidden;
}
.popPostSection {
  padding: 20px;
  /* background: linear-gradient(269.69deg, #1a2225 5.03%, #00171f 98.08%); */
  background-color: #00171f;
  overflow: hidden;
}
.popPostSection > h2 {
  text-align: center;
  padding: 20px 0 30px;
  margin: 0px;
  color: #f95f0b;
  color: var(--orange);
}
.popPostScroll > div:first-child {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

@media (max-width: 1050px) {
  .popPostSection {
    height: calc(60vw / 1.3 + 80px);
    padding-left: 40px;
  }
  .popPostSection h2 {
    text-align: left;
    padding: 0 0 10px 0;
    margin-left: -10px;
  }
  .popPostLayoutCont {
    overflow-x: scroll;
    visibility: visible;
  }
  .popPostContainer {
    overflow: hidden;
    height: 38vh;
    width: 20000px; /*cambiar en jcript*/
  }
  .popPostContainer > div {
    /* width: 50vw; */
    float: left;
    margin-right: 30px;
  }
  .popPostScroll > div:first-child {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
  }
}

@media (max-width: 700px) {
  .popPostSection {
    padding: 5px 10px;
    height: calc(75vw / 1.3 + 15vh);
  }
  .popPostSection h2 {
    margin-left: 0px;
    padding: 10px 0 10px 0;
  }
  .popPostContainer {
    height: calc((60vw / 1.3) + 10px + 1.8rem + 1.2vh) !important ;
  }
  .popPostContainer > div {
    margin-right: 10px;
  }
  /* .popPostContainer > div {
    width: 60vw;
  } */
}
/*::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}*/

#blogPage h2 {
  letter-spacing: 2px;
  font-size: 1.8rem;
  color: #f95f0b;
  color: var(--orange);
}
.contenedorMain-Blog {
  margin-top: 94px;
}

.newPost {
  border-radius: 154px 0 351px 0;
  background-image: url(/a8e09db2c69666a30808ad5ff72318e8.jpg);
  background-size: cover;
  background-position-y: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newPostTitleCont {
  padding: 0 2vw 0 8vw;
  width: 70%;
}

.newPostSummaryCont {
  padding: 0 0 0 2vw;
  transform: translateX(2px);
  width: 30%;
}
.newPostSummarySection a {
  font-size: 0.8rem;
}
.summaryTextGeneralBlog {
  font-size: 0.7rem;
  color: #024259;
  padding: 0 20px;
  margin: 0;
}

.summaryTextGeneralBlog > p:first-child {
  margin-top: 0;
}

.newPost,
.footerBlogLayoutContainer {
  height: calc(100vh - 94px);
}
.footerBlogLayoutContainer {
  position: relative;
}

.footerBlogContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerBlogContainer > svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.footerBlogLogo {
  margin-top: 20px;
}

.call2ActionBlog {
  margin-top: 20px;
}
.footer-blog {
  animation-delay: 1s;
  margin-left: 36px;
  padding-top: 20px;
}

.footer-blog svg {
  margin-right: 15px;
  float: left;

  height: 32px;
}

.footer-blog svg:hover {
  fill: #f95f0b;
  fill: var(--orange);
}

/* .footer-blog svg:hover path {
} */

.footer-blog path {
  stroke: none;
}

.redesSociales-blog {
  width: 40px;
}
.asideContenedor {
  padding: 0 34px;
}
/* .asideBackground {
} */

/*.popPostContainer {
	overflow-y: scroll;
}*/

.popularPost-article {
  margin-bottom: 20px;
}
.popularPost-article > *:last-child {
  margin: 0;
}
.recentPost {
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.recentPost h2 {
  width: 40%;
  margin: 25px 0 20px 0;
  padding-left: 8vh;
}
.recentPostScroll > div:first-child {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.searchContainer,
.searchBar {
  transition: all 700ms cubic-bezier(0.75, -0.6, 0.35, 1.65);
}
.recentPostLayoutContainer {
  overflow: visible;
}
.recentPostContainer {
  /* padding-left: calc(8vh - 40px); */
  height: calc(100vh - 186px);
  /*overflow-y: scroll;
	overflow-x: hidden;*/
  overflow: hidden;
}

.recentPost-article {
  padding: 0 0 40px 40px;
  width: 50%;
}

.popularPost-article {
  width: 100%;
}

@media (max-width: 1050px) {
  .contenedorMain-Blog {
    margin-top: 14.3vw;
  }
  #blogPage h2 {
    font-size: 5.5vw;
  }
  .newPost {
    height: auto;
    background-image: none;
  }
  .newPostTitleCont {
    border-radius: 154px 0 0 0;
    width: 100%;
    padding: 7vh 2vw 7vh 3vw;
  }

  .newPostSummaryCont {
    width: 100%;
    padding: 0;
  }
  .newPostSummaryCont > h1 {
    margin: 20px 0 0 20px;
    color: #f95f0b;
    color: var(--orange);
    letter-spacing: 0.5rem;
  }
  .newPostSummarySection {
    box-shadow: 7px 2px 5px 1px #8080804d;
    margin-left: -1px;
    border-radius: 0 !important;
  }
  .newPostSummarySection > div:nth-child(3) {
    margin: 5px 0 25px 0;
  }
  .newPostSummarySection a {
    font-size: 1.2rem;
  }

  .newPostTitleCont {
    background-image: url(/a8e09db2c69666a30808ad5ff72318e8.jpg);
    background-position-x: center;
    background-size: cover;
  }
  .summaryTextGeneralBlog {
    font-size: 1.2rem;
  }
  .summaryTextGeneralBlog > p:first-child {
    margin-top: 1em;
  }
  .footerBlogLayoutContainer {
    height: auto;
  }
  .recentPostLayoutContainer,
  .recentPostContainer {
    height: calc(60vw / 1.3 + 10px);
  }
  .recentPostLayoutContainer {
    overflow-x: scroll;
  }
  .recentPostContainer {
    overflow: hidden;

    padding: 0;
  }
  .recentPostScroll > div:first-child {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
  }
  .recentPost {
    /*flex-direction: column;*/
    margin-bottom: 15px;
  }
  .recentPost h2 {
    padding-left: 3vh;
    box-sizing: border-box;
  }
  .recentPost-article {
    width: 60vw;
  }
  .popularPost-article {
    margin: 0 0 0 0;
    width: 60vw;
    padding: 0 15px 0 0;
  }
  .asideContenedor {
    padding: 0;
    margin-top: 20px;
  }

  .footerBlogContainer {
    margin-top: 0;
    padding-bottom: 20px;
  }
  .footerBlogLogo {
    display: none;
  }
}

@media (max-width: 700px) {
  .contenedorMain-Blog {
    margin-top: 25.3vw;
  }
  .newPostTitleCont,
  .newPostSummaryCont {
    width: 100%;
  }
  .newPostSummaryCont {
    padding: 0;
  }
  .newPostSummarySection a {
    font-size: 1rem;
  }
  .newPost {
    margin-top: -14.4px;
    height: auto;
  }
  .newPostTitleCont {
    border-radius: 15vw 0 0 0;
    padding: 7vh 6vw;
  }
  .summaryTextGeneralBlog {
    font-size: 0.8rem;
  }
  .summaryTextGeneralBlog > p:first-child {
    margin-top: 1em;
  }

  .recentPostLayoutContainer,
  .recentPostContainer {
    height: calc((60vw / 1.3) + 10px + 1.8rem + 0.4vh);
  }
  .recentPost {
    padding: 5px 0;
    margin: 0;
    flex-direction: column;
  }
  .recentPost h2 {
    margin: 25px 0 10px 0;
    width: 100%;
    margin-bottom: 0;
  }
  .searchContainer {
    margin-top: 10px;
    width: 90%;
  }
  .recentPost-article,
  .popularPost-article {
    padding: 5px 0 5px 10px;
    width: 75vw;
  }
}
.contenedorTest {
  margin-top: 100px;
}
.colorFondoTest {
  background-color: blue;
}
.colorFondoAside {
  background-color: yellow;
  background-image: url(/a8e09db2c69666a30808ad5ff72318e8.jpg);
}
.contactScrollBar {
  border-radius: 5px;
  background-color: gray !important;
}

@media (max-width: 700px) {
  .colorFondoAside {
    background-image: url(/87b4d849eacf5533bd17eaa7e1e23a07.jpg);
    height: 20vh;
  }
}
#blogPostPage h1,
#blogPostPage h2 {
  font-family: "Sedgwick Ave", cursive;
}
.postHero {
  margin: 96px 0 0 0;
  min-height: calc(100vh - 85px);
  position: relative;

  /*background-color: rgba(125, 127, 50, 0.5);*/
}
.postHeroBack {
  margin-top: -4px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-repeat: round;
}
.blogPostTitle {
  margin-top: -4px;
  padding: 0 5vw 5vh 5vw;
}
.blogPostTitleBackCont {
  position: relative;
  height: 50vh;
}
.blogPostTitleBack,
.postHeroBack {
  background-size: cover;
}
.blogPostTitleBack {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
}
.blogPostTitleText {
  min-height: 15vh;
  background-color: #004059;
  color: white;
}
.blogPostTitleText h1 {
  font-size: calc(1rem * 1.8);
  color: white;
  padding: 3vh 2.5vw;
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.5vh;
}

.blogPostSummary {
  padding: 12vh 0 0 0;
  width: 18.8vw;
}

.summaryTextBlogPost {
  font-size: 0.7rem;
  padding: 0 20px;
  margin: 0;
}
.summaryTextBlogPost > p {
  margin-top: 0;
}
.summaryTextScroll > div:nth-child(2) {
  height: 25vh !important;
}

.blogPostTitle img {
  max-width: 100%;
  height: 60vh;
}
.blogArticle {
  padding: 20px 50px 20px 133px;
}
.blogArticle h1,
.blogArticle h2 {
  color: #f95f0b;
  color: var(--orange);
}
.blogArticle h2,
aside h2 {
  font-size: 1.8rem;
}
.blogArticle p {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  color: #004059;

  /*	font-size: 1rem;
	line-height: 1.6rem;*/
}
.googleAdBanner {
  margin-top: 2vh;
  display: flex;
  height: 26vh;
  justify-content: center;
  align-items: center;
  background-color: #00405930;
}
.googleAdVertical {
  margin-top: 2vh;
  display: flex;
  height: 26vh;
  justify-content: center;
  align-items: center;
  background-color: #00405930;
  padding: 0 34px;
  height: 1000px;
}

#name {
  color: var(--orange);
  font-weight: bold;
}

@media (max-width: 1050px) {
  .postHero {
    margin: 110px 0 0 0;
  }

  .blogPostTitleText h1 {
    letter-spacing: 5.9px;
    line-height: 2.6rem;
    font-size: 2.1rem;
    padding: 3vh 5vw;
  }
  .blogPostTitle {
    padding: 5vh 0;
  }
  .blogPostSummary {
    width: 100%;
  }
  .blogPostSummary h3 {
    font-size: 1.4rem;
  }
  .summaryTextScroll > div:nth-child(2) {
    height: auto !important;
  }
  .summaryTextBlogPost {
    font-size: calc(1.3rem * 0.8);
    margin: 0;
  }
  .summaryTextScroll {
    border-radius: 0px !important;
  }
  .blogArticle {
    padding-left: 50px;
  }
  .blogArticle p {
    font-size: 1.3rem;
  }
}

@media (max-width: 700px) {
  .postHero {
    margin-top: 82.5px;
  }
  .postHeroBack {
    display: none;
  }
  .blogPostTitle {
    padding: 0px;
    margin-top: -4.3px;
  }
  .blogPostTitleText {
    height: auto;
  }
  .blogPostTitleText h1 {
    letter-spacing: 3.7px;
    line-height: 1.7rem;
    font-size: calc(1.7rem * 0.8);
    margin: 0;
    padding: 10px 5vw;
  }
  .blogPostSummary {
    padding: 0;
  }
  .blogPostSummary h3 {
    font-size: calc(1.7rem * 0.6);
  }
  .summaryTextBlogPost {
    font-size: 0.8rem;
  }
  .googleAdBanner {
    margin-top: 0;
  }
  .blogArticle {
    padding: 12px 14px;
  }
  .blogArticle h2 {
    padding: 15px 0 0 0;
  }
  .blogArticle p {
    font-size: 1.1rem;
    margin: 15px 0;
  }
  .blogArticle figure {
    margin: 0;
  }
}
.avatarImg {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-size: cover;
  border: 1px transparent solid;
}
.oldAvatarCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.oldAvatarImg {
  margin-right: 20px;
}

.userName,
.postDate {
  font-weight: bold;
  color: var(--orange);
}
.postDate {
  float: right;
}

@media (max-width: 700px) {
  .avatarImg {
    height: 50px;
    width: 50px;
  }
}
.commentLayoutCont {
  padding: 50px;
  position: relative;
}

.commentCont {
  position: relative;
  height: 292px;
  border-radius: 30px 0 30px 0;
  background: linear-gradient(90deg, #0087b9 0.01%, #192327 66.34%);
  padding: 10px;
  margin-left: 20px;
}
.commentCont > svg {
  bottom: -8px;
  position: absolute;
  left: -17px;
  width: 50px;
}
.commentCont span {
  color: white;
}
.commentCont textarea {
  height: 268px;
  resize: none;
  border-radius: 120px 0 60px 0;
  width: 100%;
  font-size: inherit;
  padding: 40px 20px 20px 40px;
  box-sizing: border-box;
}
.commentCont textarea:focus {
  outline: none;
}

.postItCont {
  float: right;
  padding-top: 20px;
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.postItCont span {
  margin: 0 15px 0 0;
  font-weight: bold;
  color: var(--orange);
}
.postItCont svg {
  display: inline;
  /* width: 20px; */
}
.postItCont svg:hover {
  cursor: pointer;
}

.avatarCont {
  padding: 0 0 0 20px;
  clear: both;
}
.contsignCard {
  padding: 10px;
  margin-bottom: 20px;
}
.signInCard {
  margin: 10px;
  background: #c2e5f2;
  border-radius: 35px 35px 0px 35px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signInCard > p {
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  font-size: 1.1rem;
  color: #004059;
}
.cardLink {
  color: var(--orange);
  font-weight: bold;
}
.signInButtonCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.signInButtonCont button:first-child {
  margin-right: 20px;
}
.signButton,
.logButton {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.1rem;

  box-sizing: border-box;
}
.signButton {
  background: #00171f;
  border: 3px solid #f95f0b;
  color: white;
  border: 3px solid var(--orange);
}
.signButton:hover,
.logButton:hover {
  cursor: pointer;
}
.signButton:hover {
  background: #f95f0b;
}
.logButton {
  background: #00b7fb;
  border: 3px solid #1381ab;
}
.logButton:hover {
  background: #004059;
  color: white;
}

@media (max-width: 700px) {
  .signInCard {
    margin: 0;
    padding: 20px;
  }
}
.formLayout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.637);
}
.formCard {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  max-width: 33%;
  width: 360px;
  background: linear-gradient(180deg, #1a2225 66.02%, #0088ba 91.38%);
}
.signUpPageCont {
  position: relative;
}
.avatarContForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.avatarLoad {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: #c4c4c4;
  text-align: center;
  font-weight: bold;
  color: #004059;
  cursor: pointer;
  position: relative;
}
.avatarLoad span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.signUpForm,
.signUpForm2,
.signUpForm3 {
  letter-spacing: 1px;
  width: 100%;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.signUpForm {
  height: calc(100vh - 200px - 100px);
}
.signUpForm2 {
  height: calc(100vh - 100px);
}
.signUpForm3 {
  height: calc(100vh - 300px);
  margin-top: 50px;
}
.signUpForm label input,
.signUpForm select,
.signUpForm2 label input,
.signUpForm2 select,
.signUpForm3 label input {
  background-color: #00b7fb;
  border: 1px solid transparent;
  border-radius: 21px;
  width: 100%;
  height: 5vh;
  box-sizing: border-box;
  padding-left: 10px;
  font-weight: bold;
  color: #004059;
}
.otherInterestsCont {
  padding-left: 10px;
}

.otherInterests {
  position: relative;
  padding: 2px 3px 0 3px;
  margin: 5px 0 0 2px;
  height: 3vh;
  font-size: 13.3px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.445);
  float: left;
  color: #004059;
  box-sizing: border-box;
}
.otherInterests > div {
  cursor: pointer;
  padding-right: 12px;
}
.otherInterests span {
  position: absolute;
  top: 2px;
  margin-left: 2px;
  color: var(--orange);
  right: 2px;
  z-index: -1;
  font-weight: bold;
}
.signUpPage1,
.signUpPage2 {
  transition: opacity 500ms, transform 500ms;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(20%);
  font-size: 24px;
}
.controlButtons {
  left: 0;
  position: absolute;
  top: calc(100vh - 65px);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.controlButtons button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 20px;
  box-sizing: border-box;
  background: #00171f;
  border: 3px solid #00b7fb;
  color: #fff;
}
.controlButtons button:nth-last-child(1) {
  margin: 0;
}
.controlButtons button:hover {
  background: #004059;
  color: white;
}
.flyIn {
  opacity: 1;
  z-index: 1;
  transform: translateX(0);
}
.flyToLeft,
.flyToRight {
  opacity: 0;
  z-index: -1;
}
.flyToLeft {
  transform: translateX(-20%);
}
.flyToRight {
  transform: translateX(20%);
}

.interestsCont span {
  font-size: 16px;
  font-weight: normal;
}
.interestsCont h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.interestsCont input {
  width: 18px;
  height: 18px;
  margin: 0;
}
.checkboxCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.checkboxCont input {
  margin-right: 15px;
}
@media (max-width: 1050px) {
  .formCard {
    max-width: 50%;
  }
}
@media (max-width: 700px) {
  .formCard {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
.logInLogo {
  padding-top: 40px;
  display: inline;
  margin: 0 auto;
}
.logInForm {
  width: 100%;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 155px);
}
.logInForm input {
  background-color: #00b7fb;
  border: 1px solid transparent;
  border-radius: 21px;
  width: 100%;
  height: 5vh;
  box-sizing: border-box;
  padding-left: 10px;
  font-weight: bold;
  color: #004059;
}
.logInForm span {
  font-weight: 300;
}
.logInForm span,
.logInForm span a {
  color: white;
}
.logInForm span a {
  text-decoration: none;
  font-weight: bold;
}
