.dashboardLayout {
  height: 100vh;
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 20% auto;
  grid-template-rows: 100vh;
  transition: all ease 1s;
}

.dashAside {
  grid-area: aside;
  background-color: #1a2225;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.dashMain {
  grid-area: main;
  transition: all ease 1s;
}
.dashAvatar {
  flex-grow: 0.15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashAvatar span {
  color: var(--orange);
  font-weight: bold;
}
.dashAvatarImg {
  height: 100px;
  width: 100px;
}
.dashCreatePost {
  flex-grow: 0;
}
.dashLogOut,
.dashCreatePost {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dashCreatePost button,
.dashLogOut button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashCreatePost span,
.dashLogOut span {
  padding-right: 11px;
}
.dashCreatePost img {
  width: 15%;
}
.dashLogOut img {
  width: 20%;
}
.dashCreatePost button,
.dashLogOut button {
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8rem;
  box-sizing: border-box;
  background: #00171f;
  border: 1px solid var(--orange);
  color: #fff;
}
.dashCreatePost button:hover,
.dashLogOut button:hover {
  background-color: var(--blueLight);
  cursor: pointer;
}
.dashMenu {
  flex-grow: 1;
  padding: 20px 3vh;
  text-align: start;
}
.dashMenu > div {
  display: flex;
  justify-content: space-between;
}
.dashLogOut {
  flex-grow: 1;
}
.dashMain {
  position: relative;
}
.mainToogleMenu {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: -1px;
  padding: 9px 9px 9px 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.mainToogleMenu:hover {
  opacity: 1;
}
.mainToogleMenu {
  background-color: var(--blueDark);
}
.mainToogleMenu img {
  width: calc(33px * 0.6);
}

@media (max-width: 1050px) {
  .dashboardLayout {
    grid-template-columns: 30% auto;
  }
  .mainToogleMenu {
    opacity: 1;
  }
  /* .dashAvatarImg {
    height: 50px;
    width: 50px;
  }

  .dashCreatePost button,
  .dashLogOut button {
    padding: 10px;
    border-radius: 10px;
    font-size: 0.6rem;
  }

  .dashMenu {
    flex-grow: 1;
    padding: 20px 10px;
    text-align: start;
  }
  .dashMenu p {
    font-size: 0.6rem;
  }

  .dashMenu img {
    width: 15%;
  } */
}

@media (max-width: 700px) {
  .dashboardLayout {
    grid-template-areas: " main";
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
    height: 100vh;
    box-sizing: border-box;
  }
  .dashAside {
    display: none;
  }
}
