.logInLogo {
  display: inline;
  margin: 0 auto;
}
.logInForm {
  width: 100%;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;

  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
.logInForm label span {
  font-weight: bold;
  color: white;
}
.logInForm input {
  background-color: #00b7fb;
  border: 1px solid transparent;
  border-radius: 21px;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding-left: 10px;
  font-weight: bold;
  color: #004059;
}
.logInForm span {
  font-weight: 300;
}
.logInForm span,
.logInForm span a {
  color: white;
}
.logInForm span a {
  text-decoration: none;
  font-weight: bold;
}

.controlButtonLogin {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;

  justify-content: space-evenly;
}

.controlButtonLogin button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  background: #00171f;
  border: none;
}

.controlButtonLogin button:hover {
  cursor: pointer;
}

.cancelBtn {
  background: #f95f0b00 !important;
  border: 1px solid #ebeff1 !important;
  color: #ebeff1;
}
.cancelBtn:hover {
  color: var(--blueDark) !important;
}
.logSignBtn {
  color: coral;
}

.logSignBtn:hover {
  color: white;
}

.formCardLogin {
  position: relative;
  border: 3px solid #f95f0b;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 2vw;
  height: 100vh;
  width: 25vw;
  max-width: 340px;
  background: linear-gradient(180deg, #1a2225 66.02%, #0088ba 91.38%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 680px;
}

@media (max-width: 1050px) {
  .formCardLogin {
    width: 50%;
    padding: 16px 3vw;
  }
}
@media (max-width: 700px) {
  .logInLogo {
    padding-top: 0;
  }

  .formCardLogin {
    padding: 15vh 7vw;
    width: 100%;
    max-width: none;
    max-height: none;
    box-sizing: border-box;
  }
}
