/* @media (orientation: landscape) and (pointer: coarse) { */
.nolandscape {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fondo-about {
  background: linear-gradient(
      249.66deg,
      rgba(0, 0, 0, 0.98) 0%,
      rgba(0, 0, 0, 0.72) 100%
    ),
    url(../../assets/img/about/tech_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}
.texto {
  padding: 0 5%;
  margin: 0 0 100px 0;
}

.contenedorTexto {
  padding-left: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.parrafo {
  height: 100%;
  color: white;
  font-style: normal;
  font-weight: normal;
  overflow-y: scroll;
  padding: 20px 0 0 0;
}
.parrafo a {
  text-decoration: none;
  color: #00b7ff;
}
.parrafo h2 {
  letter-spacing: 3px;
  margin: 0;
  font-weight: 600;
  line-height: normal;
  font-size: 5vh;
  color: #f95f0b;
  margin: 0 0 15px 0;
}
.parrafo p {
  margin: 0;
  line-height: 5vh;
  font-size: 3vh;
  margin: 0 0 30px 0;
}
.PCdecoration {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
.midDecorationPC {
  /*position: fixed;
	width: 65vh;
	left: 43vw;
	top: calc(94px + 15vh);*/
  /* transform: translate(-3vw, -3vh); */
  /* scale: 1.2; */
  height: 50vh;

  margin-top: 16vh;
}
.asidePC {
  margin-top: 63vh;
}

.call2actionAside {
  transform: translateX(-5vw);
}
.asideRedes {
  margin-top: 6vh;
}
.asideRedes svg {
  margin-right: 10px;
}

.contenedorFila-about {
  padding: 20px 0 0 0;
  border: 2px var(--orange) solid;
  border-bottom: none;
  border-radius: 210px 210px 0 0;
  height: calc(100vh - 94px);
  margin-top: 94px;
  background: linear-gradient(
      249.66deg,
      rgba(0, 0, 0, 0.88) 0%,
      rgba(0, 0, 0, 0.72) 100%
    ),
    url(../../assets/img/about/tech_640.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  display: block;
}
.footer-about-pcSize {
  height: 25px;
}
.footer-about-path {
  stroke: #f95f0b;
  stroke: var(--orange);
  stroke-width: 1px;
}
.footer-about-path {
  fill: #f95f0b;
  fill: var(--orange);
}
/*.call2action-med {
	display: none;
}*/
/*.footerContainer-about {
	display: none;
}*/
@media (max-width: 1050px) /*tablts */ {
  /*#topDecoration {
		display: none;
	}*/
  /*#topDecorationMed {
		display: block;
	}*/
  .contenedorFila-about {
    position: relative;
    border: none;
    height: initial;
    margin-top: 0;
    background: none;
    display: block;
  }
  .tabletDecoration {
    position: relative;
  }
  .midDecoration {
    position: absolute;
  }
  .decorationBrackets {
    width: 90%;
    margin-left: 5%;

    position: relative;
    margin-top: 55%;
  }
  .footer-about-mid {
    margin-left: 10%;
    margin-top: 5%;
  }
  .footer-about-midSize {
    width: 20%;
  }
  .tabletDecoration {
    width: 45%;
  }
  .parrafo {
    width: 55%;
  }

  .parrafo h2 {
    font-size: 3.5vh;
    margin: 0;
  }

  .parrafo p {
    font-size: 2.3vh;
    line-height: 4vh;
    margin: 0;
    padding: 10px 0 0 0;
  }
  .texto {
    padding: 0;
    margin: 0px 0 150px 0;
  }

  .contenedorTexto {
    padding: 15px 25px 0 40px;
    margin: 0;
    justify-content: space-evenly;
  }
  .call2action-med {
    display: inline;
  }
  .call2action-med a {
    color: white;
  }
  .footer-about-path {
    stroke: #f95f0b;
    stroke: var(--orange);
    stroke-width: 1px;
    fill: #010101;
  }
}

@media (max-width: 700px) /*phones */ {
  .parrafo {
    width: 100%;
    overflow: none;
  }
  .parrafo h2 {
    font-size: 10vmin;
  }

  .parrafo p {
    letter-spacing: 0;
    font-size: 6vmin;
    line-height: 5vh;
  }
  .contenedorTexto {
    margin: 0;
    padding: 0 16px;
    height: 120vh;
    display: block;
  }
  .texto {
    padding-left: 5%;
    margin: 0 0 120px 0;
  }
  .contenedorTexto article:nth-child(3) {
    margin: 0 0 30px 0;
  }

  .footerContainer-about {
    position: relative;
    margin-top: 5vh;
  }
  .footerContainer-about svg {
    transform: translateY(11px);
    /*position: absolute;*/
  }
  .footerElements-about {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .call2action-about {
    top: 0px;
    font-size: 1rem;
    position: relative;
    z-index: 1;
  }

  .footer-about {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  /* .footer-about,
  .call2action-about {
    /*	position: absolute;

  } */
  .footer-about-size {
    width: 50%;
  }
  .call2action-med {
    display: none;
  }
  #footerback-about {
    position: absolute;
    bottom: 0;
  }

  #topDecoration {
    /*position: fixed;
	top: 0;*/
    display: block;
    z-index: 1;
  }
  #topDecorationMed {
    display: none;
  }
}
