.modalLayout {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.637);
  width: 100vw;
  height: 100vh;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalLayout button {
  cursor: pointer;
}

.modalDialog {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #1a2225 19.02%, #0088ba 74.38%);
  color: white;
  border: 3px solid #f95f0b;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
  max-width: 30vw;
}
.modalHeader {
  display: flex;
  flex-direction: row;
}

.modalHeader h3 {
  flex-grow: 90;
}

.modalHeader button {
  flex-grow: 10;
  background-color: transparent;
  border: none;
}

.modalTitle {
  text-align: center;
}
.modalCancelBtn {
  color: white;
  position: relative;
}
.modalCancelBtn span {
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 12px;
}

.modalBody {
  margin: 0;
  padding: 10px;
}
.modalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalFooter button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 10px;
  box-sizing: border-box;
  background: #00171f;
  border: 3px solid #00b7fb;
  color: #fff;
}

@media (max-width: 1050px) {
  .modalDialog {
    max-width: 50vw;
  }
}

@media (max-width: 700px) {
  .modalDialog {
    max-width: 100vw;
  }
}
