.contenedorTest {
  margin-top: 100px;
}
.colorFondoTest {
  background-color: blue;
}
.colorFondoAside {
  background-color: yellow;
  background-image: url("../../assets/img/blog/fondoBlog.jpg");
}
.contactScrollBar {
  border-radius: 5px;
  background-color: gray !important;
}

@media (max-width: 700px) {
  .colorFondoAside {
    background-image: url("../../assets/img/general/avatar.jpg");
    height: 20vh;
  }
}
